*{
	box-sizing: border-box; 
	/* This makes the widths of elements more consistent
		Full details here https://css-tricks.com/box-sizing/ */
}

body{
	margin: 0px; /* Often browsers have a 5px margin by deafult*/
	font-family: sans-serif;
}

section{
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

header{
	background-color: skyblue;
	color: navy; /* more readable on an orange background */
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	font-size: 30px;
}

nav{
	width: 100%;
	height: 60px;
	background-color: pink;
}

nav a, nav h3{
	float: left;
	margin: 0px;
	line-height: 60px;
	margin-left: 1em;
	margin-right: 1em;
	text-decoration: none;
}

nav a:hover{
	text-decoration: underline; /* Hover styles to let people know they can click it */
}



/* Simple grid */
.g-row{
	width: 100%;
	overflow: hidden;
	
}

.g-row img{
	width: 100%; /*This makes all images in grids to be the size of their cell */
	height: 100%;
	padding: 25px;
	overflow: hidden;
}

.g-50{
	width: 50%;
	float: left;
}

.g-30{
	width: 33%;
	height: 250px;
	float: left;
}
.g-31{
	width: 33%;
	height: 350px;
	float: left;
}
.g-32{
	width: 33%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.g-70{
	width: 70%;
	float: left;
}

.show{
	border: 1px solid blue;
	padding: 2px;
}

.padded{
	padding: 20px; /* I add this to cells to add a little padding*/
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

#test{
	/*transform:rotate(180deg);*/
	background-size: cover;
	background-image: url(./img/camera3.jpg);
	overflow: hidden;
}

.divider{
    height:70px;
    width:auto;
    display:inline-block;
}
.divider1{
    height:0px;
    width:auto;
    display:inline-block;
}